#dark-base.polar-night {
  color: #2e3440;
  color: #3b4252;
  color: #434c5e;
  color: #4c566a;
}

#light-base.snow-storm {
  color: #d8dee9;
  color: #e5e9f0;
  color: #eceff4;
}

#accent.frost {
  color: #8fbcbb;
  color: #88c0d0;
  color: #81a1c1;
  color: #5e81ac;
}

#accent.aurora {
  color: #bf616a;
  color: #d08770;
  color: #ebcb8b;
  color: #a3be8c;
  color: #b48ead;
}
